* {
	text-align: center;
}

/* Styling input */
input[type="date"] {
	margin: 0.5rem;
	padding: 0.5rem;
}

input[type="number"] {
	max-width: 5rem;
}

/* Styling table */
.overflow {
	overflow: auto;
}

td, th {
	vertical-align: middle;
	border: 1px solid #ccc;
	padding: 0.7rem;
	min-width: 11rem;
}

table {
	margin: 0.5rem auto;
	border-collapse: collapse;
	box-shadow: 0 0 1rem #ccc;
	width: 80%;
}

ul {
	padding: 0 0.7rem;
	margin: 0;
	list-style-type: none;
	display: inline-block;
	font-size: 1rem;
}

img {
	width: 2rem;
	height: 2rem;
	float: right;
}

/* Styling apply button */
button {
	border: 1px solid #ccc;
	box-shadow: 0 0 4px #ccc;
	padding: 0.5rem 1rem;
	cursor: pointer;
	color: #000;
	font-size: 1rem;
}

button:hover, td:hover {
	box-shadow: 0 0 4px #2196f3;
}

button:active {
	background-color: #2196f3;
	color: #fff;
	font-size: 1rem;
}

/* Styling checkbox from w3school.com (modified) */
.container {
	cursor: pointer;
	float: left;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	display: inline-block;
	height: 1.5rem;
	width: 1.5rem;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}
